#https://urvanov.ru/2015/09/21/настройка-lombok/

#указать Lombok-у, что это корневой каталог
config.stopBubbling = true
#Если установлено в true,
#то генерируемые методы установки значений
#можно выстраивать в цепочки (они возвращают this).
lombok.accessors.chain = true
lombok.var.flagUsage = true
#lombok.fieldDefaults.flagUsage = true